<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
  <title>Expat Elite Singles</title>
  
  {% include 'components/head_tag.html' %}
</head>

<body class="min-h-screen bg-gradient-to-r from-yellow-400 to-pink-600 font-medium flex flex-col justify-start md:justify-center items-center uppercase w-full overflow-y-none overflow-x-hidden kanit-regular">

  <div class="m-2 flex flex-col md:flex-row justify-center items-center md:px-10 w-full h-full" id="mainrender"></div>
  <!-- Vendor JS Files -->
  {% include 'components/foot_tag.html' %}
</body>
</html>
