<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>expatelitesingles.com</title>
  {% include 'components/head_tag.html' %}
</head>

<body style="background-color:#000000;">
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top bg-transparent collapse show">
    <div class="container d-flex align-items-center">
      <!-- Uncomment below if you prefer to use an image logo -->
      <a class="logo me-auto"><img src="/assets/img/logo.png" alt="" class="img-fluid rounded"></a>
      <h6 class="me-auto"><a class="toggle-sidebar text-light">MENU</a></h6>
      <h6 class="ms-auto"><a href="#loginform" id="loginformtoggle" class="text-light" data-bs-toggle="collapse" data-bs-target="#loginform" aria-controls="loginform">LOGIN/SIGNUP</a></h6>
      <nav id="navbar" class="navbar bg-transparent">
        <ul>
          <!-- <li><a class="hidden-xl hidden-lg hidden-md" href="https://expatelitesingles.com/html/faqs.html">FAQS</a></li> -->
          <li><a class="hidden-xl hidden-lg hidden-md" href="https://expatelitesingles.com/html/login.html">Login</a></li>
          <!-- <li><a class="hidden-xl hidden-lg hidden-md" href="https://expatelitesingles.com/html/testimonials.html">Testimonials</a></li> -->
          <li><a class="hidden-xl hidden-lg hidden-md" href="https://expatelitesingles.com/profiles/signup.html">Signup</a></li>
        </ul>
      </nav>
    </div>
  </header><!-- End Header -->
  <div class="collapse" id="loginform">
    <div class="row d-flex justify-content-center">
      <h5>Login</h5>
      <form enctype="multipart/form-data" action="https://expatelitesingles.com/passcheck" method="post">
        <div class="row d-flex justify-content-center">
          <input class="form-control w-100 text-light" style="background-color:#000000;" type="text" name="useremail" placeholder="Email: " required>
        </div>
        <div class="row d-flex justify-content-center">
          <input class="form-control w-100 text-light" style="background-color:#000000;" type="text" name="password" placeholder="Password: " required>
        </div>
        <div class="row d-flex justify-content-center">
          <button id="submit" type="submit" class="btn btn-info text-light w-75"><strong>Log in</strong></button>
        </div>
      </form>
        <a id="register" href="https://expatelitesingles.com/html/signup.html" class="btn bg-dark text-light w-75"><strong>Register</strong></a>
    </div>
  </div>
  <!-- ======= Modaal Section ======= -->
  <!-- Modal -->
  <!-- Sidebar Left -->
  {% include 'components/sidebar.html' %}

  <main id="main">
    <section id="availablemen" class="faq bg-transparent collapse show">
      <div class="container" data-aos="fade-up">
        <div class="row d-flex justify-content center">
          <p class="text-light fs-5">Password wrong. Try making sure you spelled your email right and if you think you've forgotten your password please contact support and they will guide you through a reset.</p>
        </div>
      </div>
    </section>
  <!-- End Portfolio Section -->
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  {% include 'components/foot_tag.html' %}

</body>

</html>
