<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
  <title>Expat Elite Singles</title>
  
  {% include 'components/head_tag.html' %}
</head>

<body class="min-h-screen bg-gradient-to-r from-yellow-400 to-pink-600 font-medium flex flex-col justify-start md:justify-center items-center uppercase w-full overflow-y-none overflow-x-hidden kanit-regular uppercase">
  <div id="mainrender" class="w-full"></div>
  <!-- Vendor JS Files -->
  {% include 'components/foot_tag.html' %}
  <!-- <script src="assets/js/forms.js"></script> -->
</body>
</html>
