<div class="container">
    <div class="row d-flex justify-content-center mt-5" id="bundles">
      <h5 class="text-dark mt-5">Investments: </h5>

        <div class="card mb-2 m-1 box-shadow text-dark col-xl-6 col-lg-6 col-xs-12 col-sm-12 col-md-12" style="background-color:#000000;">
          <div class="card-body">
            <h4 class="mb-2 font-weight-normal text-dark">SLOT 1</h4>
            <h6 class="card-title pricing-card-title text-dark">Price: Kshs 10,000</h6>
            <p class="text-dark fs-6">Return 1st week: Kshs 2,500 (25%)</p>
            <p class="text-dark fs-6">Return for the following 12 weeks: Kshs 1,000 (10%) per week</p>
            <p class="text-dark fs-6">Total return: Kshs 14,500 (145%)</p>
            <a href="https://expatelitesingles.com/html/ads_payment_form.html" class="btn btn-lg btn-block btn-outline-primary w-100 text-dark" style="border-color:#6f2626!important;" role="button">INVEST</a>
          </div>
        </div>

        <div class="card mb-2 m-1 box-shadow text-dark col-xl-6 col-lg-6 col-xs-12 col-sm-12 col-md-12" style="background-color:#000000;">
          <div class="card-body">
            <h4 class="mb-2 my-0 font-weight-normal text-dark">SLOT 2</h4>
            <h6 class="card-title pricing-card-title text-dark">Price: Kshs 15,000</h6>
            <p class="text-dark fs-6">Return 1st week: Kshs 3,750 (25%)</p>
            <p class="text-dark fs-6">Return for the following 12 weeks: Kshs 1,500 (10%) per week</p>
            <p class="text-dark fs-6">Total return: Kshs 21,750 (145%)</p>
            <a href="https://expatelitesingles.com/html/ads_payment_form.html" class="btn btn-lg btn-block btn-outline-primary w-100 text-dark" style="border-color:#6f2626!important;" role="button">INVEST</a>
          </div>
        </div>

        <div class="card mb-2 m-1 box-shadow text-dark col-xl-6 col-lg-6 col-xs-12 col-sm-12 col-md-12" style="background-color:#000000;">
          <div class="card-body">
            <h4 class="mb-2 my-0 font-weight-normal text-dark">SLOT 3</h4>
            <h6 class="card-title pricing-card-title text-dark">Price: Kshs 20,000</h6>
            <p class="text-dark fs-6">Return 1st week: Kshs 5,000 (25%)</p>
            <p class="text-dark fs-6">Return for the following 12 weeks: Kshs 2,000 (10%) per week</p>
            <p class="text-dark fs-6">Total return: Kshs 29,000 (145%)</p>
            <a href="https://expatelitesingles.com/html/ads_payment_form.html" class="btn btn-lg btn-block btn-outline-primary w-100 text-dark" style="border-color:#6f2626!important;" role="button">INVEST</a>
          </div>
        </div>

        <div class="card mb-2 m-1 box-shadow text-dark col-xl-6 col-lg-6 col-xs-12 col-sm-12 col-md-12" style="background-color:#000000;">
          <div class="card-body">
            <h4 class="my-0 font-weight-normal text-dark">SLOT 4</h4>
            <h6 class="mb-2 card-title pricing-card-title text-dark">Price: Kshs 25,000</h6>
            <p class="text-dark fs-6">Return 1st week: Kshs 6,250 (25%)</p>
            <p class="text-dark fs-6">Return for the following 12 weeks: Kshs 2,500 (10%) per week</p>
            <p class="text-dark fs-6">Total return: Kshs 36,250 (145%)</p>
            <a href="https://expatelitesingles.com/html/ads_payment_form.html" class="btn btn-lg btn-block btn-outline-primary w-100 text-dark" style="border-color:#6f2626!important;" role="button">INVEST</a>
          </div>
        </div>

        <div class="card mb-2 m-1 box-shadow text-dark col-xl-6 col-lg-6 col-xs-12 col-sm-12 col-md-12" style="background-color:#000000;">
          <div class="card-body">
            <h4 class="mb-2 my-0 font-weight-normal text-dark">SLOT 5</h4>
            <h6 class="card-title pricing-card-title text-dark">Price: Kshs 30,000</h6>
            <p class="text-dark fs-6">Return 1st week: Kshs 7,500 (25%)</p>
            <p class="text-dark fs-6">Return for the following 12 weeks: Kshs 3,000 (10%) per week</p>
            <p class="text-dark fs-6">Total return: Kshs 43,500 (145%)</p>
            <a href="https://expatelitesingles.com/html/ads_payment_form.html" class="btn btn-lg btn-block btn-outline-primary w-100 text-dark" style="border-color:#6f2626!important;" role="button">INVEST</a>
          </div>
        </div>
    </div>
</div>
