<section id="availablemen" class="faq bg-transparent collapse show">
  <div class="container" data-aos="fade-up">
    <div class="row d-flex justify-content-center">
      <h1 class="text-dark mt-3">TERMS OF USE</h1>
      <p class="text-dark">By accessing, signing up and using the <strong>HALAAL LOVE</strong> advertising service, you acknowledge and agree to these terms of use.</p>
      <p class="text-dark">These terms of use, along with our community guidelines, privacy policy and cookie policy define the general conditions that apply to your use of the <strong>HALAAL LOVE</strong> advertising service, website and any related services.</p>

      <h1 class="text-dark mt-3">YOUR COMMITMENT TO US:</h1>
      <p class="text-dark">You assert that you are at least 18 years of age and able to make the said advertising investment and that you shall not make any claims in excess of what is owed to you. Further that you understand that this is a risk based investment and as such you acknowledge the possibility that you can lose your entire investment and potential returns. Any breach of these requirements will  result in the suspension of your user account as later explained or the loss of your advertising investment in <strong>HALAAL LOVE</strong>, at our sole discretion.</p>
      <p class="text-dark">You are only to receive returns and remittances when the same are available to be remitted and if not available you forfeit all claims to the same.</p>
      <p class="text-dark">You agree to forfeit all legal claims to your investment.</p>
      <p class="text-dark">You agree that no civil or criminal proceeds can commence as a no payment of returns or the non - refund of the principal investment because advertising and the returns on the same are market based and markets fluctuate and to treat your investment as risk based and highly risky with great exposure to potential losses.</p>

      <h1 class="text-dark mt-3">OUR COMMITMENT TO YOU:</h1>
      <p class="text-dark"><strong>HALAAL LOVE</strong> is provided on an as-is basis without any guarantees or warranties of any kind. We will aim to provide a high-quality service, including ensuring that technical uptime is kept to a maximum, data is regularly backed up, and that your inquiries are replied to promptly. We will also aim to resolve any concerns and complaints that you may have to your satisfaction within 24 hours of the report of a complaint.</p>

      <h1 class="text-dark mt-3">COMMUNICATING WITH OTHER USERS</h1>
      <p class="text-dark">We expect you to conduct yourself in a responsible and respectful way when communicating with other users through the website. Never send money or disclose personally identifiable information, such as your home address or telephone number, to people that you do not know. Any such communications are at your own sole discretion and not the responsibility of <strong>HALAAL LOVE</strong> .</p>
      <p class="text-dark">If you agree to meet someone in person, you are advised to choose a public location and take appropriate precautions. Any such meetings are at your own sole discretion and not the responsibility of <strong>HALAAL LOVE</strong> .</p>

      <h1 class="text-dark mt-3">WEBSITE CONTENT:</h1>
      <p class="text-dark">Any data you post on <strong>HALAAL LOVE</strong>, become our property and you can request to delete them permanently at any time. We may accept or refuse such a request. All other website content, including text, images and code are the property of <strong>HALAAL LOVE</strong> and protected by local and international copyright laws.</p>
      <p class="text-dark">We are not responsible or liable for content posted by our social media partners.</p>
      <p class="text-dark">All social media account linked to us are commission agents and we have no control of what they say or promise.</p>

      <h1 class="text-dark mt-3">CANCELING YOUR ACCOUNT:</h1>
      <p class="text-dark">You have the right to terminate your user account with HALAAL LOVE at any time with no REFUND PAYABLE IN ANY CIRCUMSTANCES WHATSOEVER. We reserve the right to limit or remove user accounts that we deem to engage in behavior that runs contrary to the benefit of the HALAAL LOVE community as a whole or that consume an unreasonable amount of website resources WITHOUT NOTICE TO THE SAID USER.</p>

      <h1 class="text-dark mt-3">VERIFICATION OF USERS</h1>
      <p class="text-dark">We verify the identity of the user to the best of our ability but are not liable for false information provided by any of our users.</p>

      <h1 class="text-dark mt-3">SUBSCRIPTIONS AND CHARGES</h1>
      <p class="text-dark">You have the right and responsibility to terminate any subscriptions that you have with HALAAL LOVE at any time with no refund payable under any circumstances with the potential lose of your data and investment. Should there have been any error, please inform us as soon as possible. No refunds are provided under any circumstances.</p>

      <h1 class="text-dark mt-3">VARIANCE</h1>
      <p class="text-dark">HALAAL LOVE reserves the right to vary these terms of use, or transfer liability on the same to third parties with no notice to users on the same. Notice is a courtesy not a requirement.</p>

      <h1 class="text-dark mt-3">COMPLAINTS AND FURTHER INQUIRIES</h1>
      <p class="text-dark">If you would like further information on any aspect of our terms of use or would like to make a complaint, please email complaints@expatelitesingles.com on the same it may take upto 30 days for the compliment to be dealt with.</p>
      <p class="text-dark">By clicking to continue you have agreed to these terms of use.</p>
    </div>
  </div>
</section>
